*{margin: 0;padding: 0;}
body{background-color: #99c675; background-size: 200%; color:black;  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"; font-size: 25px;}
.body{padding-top:200px;}
.ob1{text-align: center;}
h1{text-align: center;}
h2{text-align: center;}
.planetaa{text-align: center; padding: 20px;font-size: 20px;}
nav ul li a:hover {background-color: white;color: black;}
nav{text-align: center;}
@keyframes steps1{
	0%{
		background-position: opx;
	}
	100%{
		background-position: 20px;
	}
}
.ob1{
	/*background-color: black;*/
	text-align: center;
}
.planeta{
	background-image: url("Earth.gif");
	width: 200px;
	height: 200px;
	/*border: solid;*/
	animation-name: steps1;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	text-align: center;
	border-radius: 50%;
}
